<section id="main-app-section">

    <app-app-header></app-app-header>

    <div class="main-app-container">

        <div class="head-content-div">
            <span class="section-header">
                Heavy Weight
            </span>
            <p class="content-para">
                Discover the latest arrivals at Heavy Weight, your destination for menswear, streetwear, and sneakers
                from leading global brands, Alongside our own label, explore our curated collection designed to elevate
                yopur everyday experience and style. Explore ourr newest additions and elevate your wardrobe with Heavy Weight
            </p>
        </div>

        <div class="line-divider"></div>

        <div class="filter-headers">
            <span class="filter-header">Show Filters</span>
            <span class="filter-header" id="sort-floating-title">Sort: {{SortConfig}}</span>
        </div>

        <div class="product-plot" id="product-plot">

            <div class="sort-floating-menu">
                <span class="sort-link">Accessories</span>
                <span class="sort-link">Head wear</span>
                <span class="sort-link">Shirts</span>
                <span class="sort-link">Bottoms</span>
                <span class="sort-link">Bags</span>
            </div>

            <div class="product">
                <div class="prod-img-div"></div>

                <div class="prduct-details">
                    <span class="brand-name">Heavy Weight</span>
                    <span class="product-name">Denim Genuine Tacker Jacket Black</span>
                    <span class="product-price">R500</span>
                </div>
            </div>

            <div class="product">
                <div class="prod-img-div"></div>

                <div class="prduct-details">
                    <span class="brand-name">Heavy Weight</span>
                    <span class="product-name">Denim Genuine Tacker Jacket Black</span>
                    <span class="product-price">R500</span>
                </div>
            </div>

            <div class="product">
                <div class="prod-img-div"></div>

                <div class="prduct-details">
                    <span class="brand-name">Heavy Weight</span>
                    <span class="product-name">Denim Genuine Tacker Jacket Black</span>
                    <span class="product-price">R500</span>
                </div>
            </div>

            <div class="product">
                <div class="prod-img-div"></div>

                <div class="prduct-details">
                    <span class="brand-name">Heavy Weight</span>
                    <span class="product-name">Denim Genuine Tacker Jacket Black</span>
                    <span class="product-price">R500</span>
                </div>
            </div>

            <div class="product">
                <div class="prod-img-div"></div>

                <div class="prduct-details">
                    <span class="brand-name">Heavy Weight</span>
                    <span class="product-name">Denim Genuine Tacker Jacket Black</span>
                    <span class="product-price">R500</span>
                </div>
            </div>

            <div class="product">
                <div class="prod-img-div"></div>

                <div class="prduct-details">
                    <span class="brand-name">Heavy Weight</span>
                    <span class="product-name">Denim Genuine Tacker Jacket Black</span>
                    <span class="product-price">R500</span>
                </div>
            </div>

            <div class="product">
                <div class="prod-img-div"></div>

                <div class="prduct-details">
                    <span class="brand-name">Heavy Weight</span>
                    <span class="product-name">Denim Genuine Tacker Jacket Black</span>
                    <span class="product-price">R500</span>
                </div>
            </div>

            <div class="product">
                <div class="prod-img-div"></div>

                <div class="prduct-details">
                    <span class="brand-name">Heavy Weight</span>
                    <span class="product-name">Denim Genuine Tacker Jacket Black</span>
                    <span class="product-price">R500</span>
                </div>
            </div>

            <div class="product">
                <div class="prod-img-div"></div>

                <div class="prduct-details">
                    <span class="brand-name">Heavy Weight</span>
                    <span class="product-name">Denim Genuine Tacker Jacket Black</span>
                    <span class="product-price">R500</span>
                </div>
            </div>

        </div>
    </div>

</section>