<section id="main-app-section">

    <div class="main-app-container">
        <div class="head-content-div">
            <span class="section-header">
                Heavy Weight
            </span>
            <p class="content-para">
                Discover the latest arrivals at Heavy Weight, your destination for menswear, streetwear, and sneakers
            </p>
        </div>
        <div class="" id=""></div>
        <div class="" id=""></div>
        <div class="" id=""></div>
    </div>

</section>