header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    padding: 20px;
}

.brand-logo {
    height: 25px;
}

.head-container {
    display: flex;
    max-width: 900px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.left-header-side {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.nav-link-container {
    display: flex;
}

.nav-link-container nav ul {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.link-icons {
    display: flex;
    gap: 25px;
    align-items: center;
}

.link-icon {
    width: 25px;
}

#menu_icon {
    display: none;
}

#cart_icon { 
    display: none;
}

#user_icon {
    display: none;
}

.nav-link {
    color: #b4b4b4;
    transition-duration: 0.3s;
}

.nav-link:hover,
.nav-link:active {
    color: #FFFFFF;
}


@media (max-width: 700px) {
    .nav-link-container {
        display: none
    }

    #search_icon {
        display: none;
    }

    #menu_icon {
        display: flex;
    }
}
