<header>
    <div class="head-container">

        <div class="left-header-side">

            <div class="brand-logo-container">
                <img src="../heavy_weight_logo.png" alt="search_icon" class="brand-logo">
            </div>
    
            <div class="nav-link-container">
    
                <nav>
                    <ul>
                        <li>
                            <a routerLink="/" class="nav-link">New Arrivals</a>
                        </li>
                        <li>
                            <a routerLink="/" class="nav-link">Popular Pieces</a>
                        </li>
                        <li>
                            <a routerLink="/" class="nav-link">Shop</a>
                        </li>
                        <li>
                            <a routerLink="/" class="nav-link">Collaborations</a>
                        </li>
                        <li>
                            <a routerLink="/" class="nav-link">News</a>
                        </li>
                        <li>
                            <a routerLink="/" class="nav-link">About</a>
                        </li>
                        <li>
                            <a routerLink="/" class="nav-link">Sale</a>
                        </li>
                    </ul>
                </nav>
    
            </div>

        </div>

        <div class="link-icons">
            <img src="../Vector.svg" alt="search_icon" class="link-icon" id="search_icon">
            <img src="../USER_ICON.svg" alt="search_icon" class="link-icon" id="user_icon">
            <img src="../cart _icon.svg" alt="search_icon" class="link-icon" id="cart_icon">
            <img src="../menu_icon.svg" alt="search_icon" class="link-icon" id="menu_icon">
        </div>

    </div>
</header>
