<header>
    <div class="head-container">

        <div class="left-header-side">

            <div class="brand-logo-container">
                <img src="../heavy_weight_logo.png" alt="search_icon" class="brand-logo">
            </div>

        </div>      

        <div class="nav-link-container">
    
            <nav>
                <ul>
                    <li>
                        <a routerLink="/about" class="nav-link">About</a>
                    </li>
                    <li>
                        <a routerLink="/" class="nav-link">New Arrivals</a>
                    </li>
                    <li>
                        <a [routerLink]="['/auth/user/', userId, 'features']" class="nav-link">Features</a>
                    </li>
                    <li>
                        <a routerLink="/auth/user/shop" class="nav-link">Shop</a>
                    </li>                
                    <li>
                        <a routerLink="/" class="nav-link">Sale</a>
                    </li>
                </ul>
            </nav>

            <div class="menu-bar" id="menu-bar">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>

        </div>

    </div>
</header>




  <!-- <div class="link-icons">
            <img src="../user_icon_a.svg" alt="search_icon" class="link-icon" id="user_icon">
            <img src="../cart_icon.svg" alt="search_icon" class="link-icon" id="cart_icon">
            <img src="../menu_icon.svg" alt="search_icon" class="link-icon" id="menu_icon">
        </div> -->