.parent-content-section {
    display: flex;
    flex-direction: column;
    height: auto;
}

.content-section {
    display: flex;
    flex-direction: column;
}

#hero-section {
    background-image: url(/2.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;    
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    width: 100vw;
}

.main-hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.small-hero-header, .hero-header {
    color: #FFFFFF;
}

.small-hero-header {
    font-size: 14px;
    font-weight: 400;
}

.hero-header {
    font-size: 40px;
    font-weight: 500;
}

.btn-div {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 16px;
}

.section-container {
    max-width: 900px;
    width: 100%;
}

/* RECOMMENDED SECTION */

#most-liked-pieces-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}

#most-liked-pieces-section .section-container {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.section-header-div {
    display: flex;
    align-items: center;
}

.header-span {
    font-size: 20px;
    font-weight: 600;
}

.product-list-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.product {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: calc(25% - 1rem);
    
}

.product-image-container {
    width: 100%;
    height: 250px;
    background-color: #000000;
}

.product-details-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
}

#brand-name {
    font-size: 10px;
    font-weight: 600;
}

.product-name {
    font-size: 14px;
    font-weight: 400;
}

.product-price {
    font-size: 12px;
    font-weight: 600;
}

.product-image {
    width: 100%;
    height: 100%;
}

/* RECOMMENDED SECTION */

/* FEATURED PRODUCTS */

#featured-products-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}

#featured-products-section .section-container {
    max-width: 900px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

#featured-products-section .product-details-container .product {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: calc(30% - 1rem);
    
}

/* FEATURED PRODUCTS */

/* COLLABORATION SECTION */

#collaboration-section {
    background-image: url(/1.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;    
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    width: 100vw;
}

.content-para {
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 300;
}

/* COLLABORATION SECTION */

/* HEAVY WEIGHT COLLECTION */

#heavy-weight-collection-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}

#heavy-weight-collection-section .section-container {
    max-width: 900px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.section-header-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.redirect-link {
    color: #000000;
    font-weight: 500;
    font-size: 14px;
}

/* HEAVY WEIGHT COLLECTION */

/* CALL TO ACTION SECTION */

#cta-section {
    display: flex;
    margin-top: 20px;
    align-items: center;
    min-height: 50vh;
}

#cta-section .section-container {
    display: grid;
    width: 100%;
    max-width: 900px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: 
    "a b";
    gap: 10px
}

.image-side {
    background-image: url(/8.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
}

.content-side {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px
}

.content-side .content-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;
}

.content-small-header, .content-main-header, .inner-content-para {
    color: #000000;
}

.content-small-header {
    font-size: 12px;
    font-weight: 400;
}

.content-main-header {
    font-size: 25px;
    font-weight: 600;
}

.inner-content-para {
    font-size: 12px;
    font-weight: 400;
}

.mail-inp {
    border: 0 solid transparent;
    border-bottom: 2px solid #000000;
    padding: 5px 8px;
    height: 55px;
}

.mail-inp:active,
.mail-inp:focus {
    border: 0 solid transparent;
}

.mail-form {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    grid-template-areas:  
    "a b";
    gap: 10px;
}

.standard-black-btn:disabled {
    background-color: #737373;
}

/* CALL TO ACTION SECTION */


@media (max-width: 700px) {
    /* RECOMMENDED SECTION */
    #hero-section {
        background-color: brown;
        padding: 10px;    
        justify-content: center;
        align-items: center;
        min-height: 70vh;
        width: 100vw;
    }
    /* RECOMMENDED SECTION */

    .product-list-container {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 25px;
        overflow-x: auto; /* Enable horizontal scrolling */
        white-space: nowrap; /* Prevent items from wrapping */
        scrollbar-width: thin;
        /* Hide scrollbar */
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* IE & Edge */
    }

    .product {
        width: 100%;
    }
    
    #cta-section .section-container {
        display: flex;
        flex-direction: column;
    }

    .image-side {
        background-color: #000000;
        height: 400px;
        width: 100%;
    }
    
    .content-side {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 400px
    }


    #collaboration-section .main-hero-content .small-hero-header {
        font-size: 12px;
        font-weight: 400;
    }
    
    #collaboration-section .main-hero-content .hero-header {
        font-size: 16px;
        font-weight: 700;
    }

    #collaboration-section .main-hero-content .content-para {
        font-size: 10px;
        font-weight: 400;
    }

    .nav-link {
        font-size: 14px;
        font-weight: 400;
        color: #737373;
    }

    .image-side {
        height: 300px;
    }

    .content-side {
        height: 300px
    }
}