<section class="parent-content-section">

    <app-header></app-header>

    <section id="hero-section" class="content-section">

        <div class="main-hero-content">
            <span class="small-hero-header">New Arrivals</span>
            <span class="hero-header" id="category">Shirts</span>
            <div class="btn-div">
                <button type="button" class="white-button" (click)="redirectToShop()">SHOP HEAVY WEIGHT</button>
                <button type="button" class="standard-black-btn">LEARN MORE</button>
            </div>
        </div>

    </section>

    <section id="most-liked-pieces-section" class="content-section">

        <div class="section-container">

            <div class="section-header-div">
                <span class="header-span">Recommended Products</span>
            </div>
    
            <div class="product-list-container">

                <div class="product">
                    <div class="product-image-container">
                        <img src="../5.png" loading="lazy" alt="clothing-item" class="product-image">
                    </div>
                    <div class="product-details-container">
                        <span id="brand-name">Heavy Weight</span>
                        <span class="product-name" id="product-name">Savage Sweat Shirt Ls Blue</span>
                        <span class="product-price" id="product-price">R450.00</span>
                    </div>
                </div>

                <div class="product">
                    <div class="product-image-container">
                        <img src="../6.png" loading="lazy" alt="clothing-item" class="product-image">
                    </div>
                    <div class="product-details-container">
                        <span id="brand-name">Heavy Weight</span>
                        <span class="product-name" id="product-name">Savage Sweat Shirt Ls Blue</span>
                        <span class="product-price" id="product-price">R450.00</span>
                    </div>
                </div>

                <div class="product">
                    <div class="product-image-container"></div>
                    <div class="product-details-container">
                        <span id="brand-name">Heavy Weight</span>
                        <span class="product-name" id="product-name">Savage Sweat Shirt Ls Blue</span>
                        <span class="product-price" id="product-price">R450.00</span>
                    </div>
                </div>

                <div class="product">
                    <div class="product-image-container"></div>
                    <div class="product-details-container">
                        <span id="brand-name">Heavy Weight</span>
                        <span class="product-name" id="product-name">Savage Sweat Shirt Ls Blue</span>
                        <span class="product-price" id="product-price">R450.00</span>
                    </div>
                </div>
    
            </div>

        </div>

    </section>

    <section id="featured-products-section" class="content-section">

        <div class="section-container">

            <div class="section-header-div">
                <span class="header-span">Featured Products</span>
            </div>
    
            <div class="product-list-container">

                <div class="product">
                    <div class="product-image-container"></div>
                    <div class="product-details-container">
                        <span id="brand-name">Heavy Weight</span>
                        <span class="product-name" id="product-name">Savage Sweat Shirt Ls Blue</span>
                        <span class="product-price" id="product-price">R450.00</span>
                    </div>
                </div>

                <div class="product">
                    <div class="product-image-container"></div>
                    <div class="product-details-container">
                        <span id="brand-name">Heavy Weight</span>
                        <span class="product-name" id="product-name">Savage Sweat Shirt Ls Blue</span>
                        <span class="product-price" id="product-price">R450.00</span>
                    </div>
                </div>

                <div class="product">
                    <div class="product-image-container"></div>
                    <div class="product-details-container">
                        <span id="brand-name">Heavy Weight</span>
                        <span class="product-name" id="product-name">Savage Sweat Shirt Ls Blue</span>
                        <span class="product-price" id="product-price">R450.00</span>
                    </div>
                </div>
    
            </div>

        </div>

    </section>

    <section id="collaboration-section" class="content-section">

        <div class="main-hero-content">
            <span class="small-hero-header">Coming Soon</span>
            <span class="hero-header" id="featured-collaboration">Heavy Weight X Quick Kut Apparel</span>
            <span class="content-para">Marjella's Touch brought to life by Heavy Weight.</span>
            <div class="btn-div">
                <button type="button" class="white-button">Shop Now</button>
                <button type="button" class="standard-black-btn">Collaborate</button>
            </div>
        </div>

    </section>

    <section id="heavy-weight-collection-section" class="content-section">

        <div class="section-container">

            <div class="section-header-div">
                <span class="header-span">Heavy Weight</span>
                <a routerLink="/app/all-products" class="redirect-link">View all ></a>
            </div>
    
            <div class="product-list-container">

                <div class="product">
                    <div class="product-image-container">
                        <img src="../7.png" loading="lazy" alt="clothing-item" class="product-image">
                    </div>
                    <div class="product-details-container">
                        <span id="brand-name">Heavy Weight</span>
                        <span class="product-name" id="product-name">Savage Sweat Shirt Ls Blue</span>
                        <span class="product-price" id="product-price">R450.00</span>
                    </div>
                </div>

                <div class="product">
                    <div class="product-image-container">
                        <img src="../9.png" loading="lazy" alt="clothing-item" class="product-image">
                    </div>
                    <div class="product-details-container">
                        <span id="brand-name">Heavy Weight</span>
                        <span class="product-name" id="product-name">Savage Sweat Shirt Ls Blue</span>
                        <span class="product-price" id="product-price">R450.00</span>
                    </div>
                </div>

                <div class="product">
                    <div class="product-image-container"></div>
                    <div class="product-details-container">
                        <span id="brand-name">Heavy Weight</span>
                        <span class="product-name" id="product-name">Savage Sweat Shirt Ls Blue</span>
                        <span class="product-price" id="product-price">R450.00</span>
                    </div>
                </div>

                <div class="product">
                    <div class="product-image-container"></div>
                    <div class="product-details-container">
                        <span id="brand-name">Heavy Weight</span>
                        <span class="product-name" id="product-name">Savage Sweat Shirt Ls Blue</span>
                        <span class="product-price" id="product-price">R450.00</span>
                    </div>
                </div>
    
            </div>

        </div>

    </section>

    <section id="cta-section" class="content-section">

        <div class="section-container">

            <div class="image-side"></div>

            <div class="content-side">
                <div class="content-container">
                    <span class="content-small-header">GET EARLY ACCESS</span>
                    <span class="content-main-header">
                        Join Our Community
                    </span>
                    <span class="inner-content-para">
                        Subscribe for early access to launches, promos and events.
                    </span>

                    <form #newsletter="ngForm" (ngSubmit)="subscribeNewsletter()" method="post" action="/subscribe/mail-list" class="mail-form">
                        <input type="email" class="mail-inp" name="email" id="email-id" [(ngModel)]="newsletterModel.email" email #emailInp="ngModel" placeholder="Enter your email">
                        <button type="submit" class="standard-black-btn" [disabled]="!newsletter.invalid">Join</button>
                    </form>
                </div>
            </div>

        </div>

    </section>

</section>
