.parent-content-section {
    display: flex;
    flex-direction: column;
}

#hero-section {
    background-color: brown;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    width: 100vw;
}

.btn-div {
    display: flex;
    flex-direction: row;
    gap: 5px;
    
}