<section class="parent-content-section">

    <section id="hero-section" class="content-section">

        <div class="main-hero-content">
            <span class="small-hero-header">New Arrivals</span>
            <span class="hero-header" id="category">Shirts</span>
            <div class="btn-div">
                <button type="button" class="white-button">Shop Now</button>
                <button type="button" class="black-button">Learn More</button>
            </div>
        </div>

    </section>

    <section id="most-liked-pieces-section" class="content-section">

        <div class="section-container">

            <div class="section-header-div">
                <span class="header-span">Recommended Products</span>
            </div>
    
            <div class="product-list-container">

                <div class="product">
                    <div class="product-image-container"></div>
                    <div class="product-details-container">
                        <span id="brand-name">Heavy Weight</span>
                        <span class="product-name" id="product-name">Savage Sweat Shirt Ls Blue</span>
                        <span class="product-price" id="product-price">R450.00</span>
                    </div>
                </div>

                <div class="product">
                    <div class="product-image-container"></div>
                    <div class="product-details-container">
                        <span id="brand-name">Heavy Weight</span>
                        <span class="product-name" id="product-name">Savage Sweat Shirt Ls Blue</span>
                        <span class="product-price" id="product-price">R450.00</span>
                    </div>
                </div>

                <div class="product">
                    <div class="product-image-container"></div>
                    <div class="product-details-container">
                        <span id="brand-name">Heavy Weight</span>
                        <span class="product-name" id="product-name">Savage Sweat Shirt Ls Blue</span>
                        <span class="product-price" id="product-price">R450.00</span>
                    </div>
                </div>

                <div class="product">
                    <div class="product-image-container"></div>
                    <div class="product-details-container">
                        <span id="brand-name">Heavy Weight</span>
                        <span class="product-name" id="product-name">Savage Sweat Shirt Ls Blue</span>
                        <span class="product-price" id="product-price">R450.00</span>
                    </div>
                </div>
    
            </div>

        </div>

    </section>

    <section id="featured-products-section" class="content-section">

        <div class="section-container">

            <div class="section-header-div">
                <span class="header-span">Featured Products</span>
            </div>
    
            <div class="product-list-container">

                <div class="product">
                    <div class="product-image-container"></div>
                    <div class="product-details-container">
                        <span id="brand-name">Heavy Weight</span>
                        <span class="product-name" id="product-name">Savage Sweat Shirt Ls Blue</span>
                        <span class="product-price" id="product-price">R450.00</span>
                    </div>
                </div>

                <div class="product">
                    <div class="product-image-container"></div>
                    <div class="product-details-container">
                        <span id="brand-name">Heavy Weight</span>
                        <span class="product-name" id="product-name">Savage Sweat Shirt Ls Blue</span>
                        <span class="product-price" id="product-price">R450.00</span>
                    </div>
                </div>

                <div class="product">
                    <div class="product-image-container"></div>
                    <div class="product-details-container">
                        <span id="brand-name">Heavy Weight</span>
                        <span class="product-name" id="product-name">Savage Sweat Shirt Ls Blue</span>
                        <span class="product-price" id="product-price">R450.00</span>
                    </div>
                </div>
    
            </div>

        </div>

    </section>

    <section id="collaboration-section" class="content-section">

        <div class="main-hero-content">
            <span class="small-hero-header">Coming Soon</span>
            <span class="hero-header" id="featured-collaboration">Heavy Weight X Quick Kut Apparel</span>
            <span class="content-para">Marjella's Touch brought to life by Heavy Weight.</span>
            <div class="btn-div">
                <button type="button" class="white-button">Shop Now</button>
                <button type="button" class="black-button">Collaborate</button>
            </div>
        </div>

    </section>

    <section id="heavy-weight-collection-section" class="content-section">

        <div class="section-container">

            <div class="section-header-div">
                <span class="header-span">Heavy Weight</span>
                <a routerLink="/app/all-products">View all ></a>
            </div>
    
            <div class="product-list-container">

                <div class="product">
                    <div class="product-image-container"></div>
                    <div class="product-details-container">
                        <span id="brand-name">Heavy Weight</span>
                        <span class="product-name" id="product-name">Savage Sweat Shirt Ls Blue</span>
                        <span class="product-price" id="product-price">R450.00</span>
                    </div>
                </div>

                <div class="product">
                    <div class="product-image-container"></div>
                    <div class="product-details-container">
                        <span id="brand-name">Heavy Weight</span>
                        <span class="product-name" id="product-name">Savage Sweat Shirt Ls Blue</span>
                        <span class="product-price" id="product-price">R450.00</span>
                    </div>
                </div>

                <div class="product">
                    <div class="product-image-container"></div>
                    <div class="product-details-container">
                        <span id="brand-name">Heavy Weight</span>
                        <span class="product-name" id="product-name">Savage Sweat Shirt Ls Blue</span>
                        <span class="product-price" id="product-price">R450.00</span>
                    </div>
                </div>

                <div class="product">
                    <div class="product-image-container"></div>
                    <div class="product-details-container">
                        <span id="brand-name">Heavy Weight</span>
                        <span class="product-name" id="product-name">Savage Sweat Shirt Ls Blue</span>
                        <span class="product-price" id="product-price">R450.00</span>
                    </div>
                </div>
    
            </div>

        </div>

    </section>

</section>
