<section class="parent-content-section">

    <header>
        <div class="head-container">
    
            <div class="left-header-side">
    
                <div class="brand-logo-container">
                    <img src="../heavy_weight_logo.png" alt="search_icon" class="brand-logo">
                </div>
    
            </div>      
    
            <div class="nav-link-container">
        
                <nav>
                    <ul>
                        <li>
                            <a routerLink="/auth/user/new-arrival" class="nav-link">New Arrivals</a>
                        </li>
                        <li>
                            <a routerLink="/auth/user/features" class="nav-link">Features</a>
                        </li>
                        <li>
                            <a routerLink="/auth/user/shop" class="nav-link">Shop</a>
                        </li>
                        <li>
                            <a routerLink="/auth/user/sale" class="nav-link">Sale</a>
                        </li>                
                        <li>
                            <a routerLink="/about" class="nav-link">About</a>
                        </li>
                    </ul>
                </nav>
    
                <div class="menu-bar" id="menu-bar">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
    
            </div>
    
        </div>
    </header>

    <app-float-menu></app-float-menu>

    <section id="hero-section" class="content-section">

        <div class="main-hero-content">
            <span class="small-hero-header">Spring Collection</span>
            <span class="hero-header" id="category">Heavy Weight Spring '25'</span>
            <span class="small-hero-para">Discover the latest delivery of our spring collection.</span>
            <div class="btn-div">
                <button type="button" class="white-button" (click)="redirectToShop()">SHOP NOW</button>
                <button type="button" class="standard-black-btn">LOOK BOOK</button>
            </div>
        </div>

        <div class="image-progress-bar-parent">
            <div class="progress-bar"><div class="progress-fill"></div></div>
            <div class="progress-bar"><div class="progress-fill"></div></div>
            <div class="progress-bar"><div class="progress-fill"></div></div>
        </div>

    </section>

    <section id="most-liked-pieces-section" class="content-section">

        <div class="section-container">

            <div class="section-header-div">
                <span class="header-span">Heavy Weight</span>
                <a routerLink="/auth/user/shop" class="redirect-link">View all ></a>
            </div>
    
            <div class="product-list-container">

                <div class="product heavy-weight-recom-prod">
                    <div class="product-image-container">
                        <img src="/products/prod-1.avif" loading="lazy" alt="clothing-item" class="product-image">
                    </div>
                    <div class="product-details-container">
                        <span id="brand-name">Heavy Weight</span>
                        <span class="product-name" id="product-name">Savage Sweat Shirt Ls Blue</span>
                        <span class="product-price" id="product-price">R450.00</span>
                    </div>
                </div>

                <div class="product heavy-weight-recom-prod">
                    <div class="product-image-container">
                        <img src="/products/prod-5.avif" loading="lazy" alt="clothing-item" class="product-image">
                    </div>
                    <div class="product-details-container">
                        <span id="brand-name">Heavy Weight</span>
                        <span class="product-name" id="product-name">Savage Sweat Shirt Ls Blue</span>
                        <span class="product-price" id="product-price">R450.00</span>
                    </div>
                </div>

                <div class="product heavy-weight-recom-prod">
                    <div class="product-image-container">
                        <img src="/products/prod-7.avif" loading="lazy" alt="clothing-item" class="product-image">
                    </div>
                    <div class="product-details-container">
                        <span id="brand-name">Heavy Weight</span>
                        <span class="product-name" id="product-name">Savage Sweat Shirt Ls Blue</span>
                        <span class="product-price" id="product-price">R450.00</span>
                    </div>
                </div>

                <div class="product heavy-weight-recom-prod">
                    <div class="product-image-container">
                        <img src="/products/prod-4.avif" loading="lazy" alt="clothing-item" class="product-image">
                    </div>
                    <div class="product-details-container">
                        <span id="brand-name">Heavy Weight</span>
                        <span class="product-name" id="product-name">Savage Sweat Shirt Ls Blue</span>
                        <span class="product-price" id="product-price">R450.00</span>
                    </div>
                </div>
    
            </div>

        </div>

    </section>

    <section id="featured-products-section" class="content-section">

        <div class="feature-container">
    
            <div class="feature-list-container">

                <div class="feature">
                    <div class="feature-image-container">
                        <img src="/products/LouisFeat1.webp" loading="lazy" alt="clothing-item" class="product-image">
                    </div>
                    <div class="feature-details-container">
                        <span id="feature-name">Heavy Weight</span>
                        <p class="feature-description">
                            Introducing Heavy Weight — a dedicated home for our collections, campaigns, and collaboration stories.
                        </p>
                        <a routerLink="auth/user/features" class="feature-link">LEARN MORE</a>
                    </div>
                </div>

                <div class="feature">
                    <div class="feature-image-container">
                        <img src="/products/LouisFeat3.jpg" loading="lazy" alt="clothing-item" class="product-image">
                    </div>
                    <div class="feature-details-container">
                        <span id="feature-name">Mid-Season Sale</span>
                        <span class="feature-description">
                            Shop new Spring '25 additions to our Mid-Season Sale, now at 20% off. Use code 'HEAVY20' at checkout.
                        </span>
                        <a routerLink="auth/user/features" class="feature-link">LEARN MORE</a>
                    </div>
                </div>

                <div class="feature">
                    <div class="feature-image-container">
                        <img src="/products/LouisFeat2.jpg" loading="lazy" alt="clothing-item" class="product-image">
                    </div>
                    <div class="feature-details-container">
                        <span id="feature-name">Heavy Weight SS25</span>
                        <p class="feature-description">
                            Redefining performance outdoor gear and streat wear.
                        </p>
                        <a routerLink="auth/user/features" class="feature-link">LEARN MORE</a>
                    </div>
                </div>
    
            </div>

        </div>

    </section>

    <section id="collaboration-section" class="content-section">

        <div class="main-hero-content">
            <span class="small-hero-header">Coming Soon</span>
            <span class="hero-header" id="featured-collaboration">Heavy Weight X Quick Kut Apparel</span>
            <span class="content-para">Marjella's Touch brought to life by Heavy Weight.</span>
            <div class="btn-div">
                <button type="button" class="white-button">Shop Now</button>
                <button type="button" class="standard-black-btn">Collaborate</button>
            </div>
        </div>

    </section>

    <section id="heavy-weight-collection-section" class="content-section">

        <div class="section-container">

            <div class="section-header-div">
                <span class="header-span">Recommended</span>
                <a routerLink="/auth/user/shop" class="redirect-link">View all ></a>
            </div>
    
            <div class="product-list-container">

                <div class="product heavy-weight-recom-prod">
                    <div class="product-image-container">
                        <img src="/products/prod-9.avif" loading="lazy" alt="clothing-item" class="product-image">
                    </div>
                    <div class="product-details-container">
                        <span id="brand-name">Heavy Weight</span>
                        <span class="product-name" id="product-name">Savage Sweat Shirt Ls Blue</span>
                        <span class="product-price" id="product-price">R450.00</span>
                    </div>
                </div>

                <div class="product heavy-weight-recom-prod">
                    <div class="product-image-container">
                        <img src="/products/prod-10.avif" loading="lazy" alt="clothing-item" class="product-image">
                    </div>
                    <div class="product-details-container">
                        <span id="brand-name">Heavy Weight</span>
                        <span class="product-name" id="product-name">Savage Sweat Shirt Ls Blue</span>
                        <span class="product-price" id="product-price">R450.00</span>
                    </div>
                </div>

                <div class="product heavy-weight-recom-prod">
                    <div class="product-image-container">
                        <img src="/products/prod-11.avif" loading="lazy" alt="clothing-item" class="product-image">
                    </div>
                    <div class="product-details-container">
                        <span id="brand-name">Heavy Weight</span>
                        <span class="product-name" id="product-name">Savage Sweat Shirt Ls Blue</span>
                        <span class="product-price" id="product-price">R450.00</span>
                    </div>
                </div>

                <div class="product heavy-weight-recom-prod">
                    <div class="product-image-container">
                        <img src="/products/prod-8.avif" loading="lazy" alt="clothing-item" class="product-image">
                    </div>
                    <div class="product-details-container">
                        <span id="brand-name">Heavy Weight</span>
                        <span class="product-name" id="product-name">Savage Sweat Shirt Ls Blue</span>
                        <span class="product-price" id="product-price">R450.00</span>
                    </div>
                </div> 
    
            </div>

        </div>

    </section>

    <section id="cta-section" class="content-section">

        <div class="section-container">

            <div class="image-side"></div>

            <div class="content-side">
                <div class="content-container">
                    <span class="content-small-header">GET EARLY ACCESS</span>
                    <span class="content-main-header">
                        Join Our Community
                    </span>
                    <span class="inner-content-para">
                        Subscribe for early access to launches, promos and events.
                    </span>

                    <form #newsletter="ngForm" (ngSubmit)="subscribeNewsletter()" method="post" action="/subscribe/mail-list" class="mail-form">
                        <input type="email" class="mail-inp" name="email" id="email-id" [(ngModel)]="newsletterModel.email" email #emailInp="ngModel" placeholder="Enter your email">
                        <button type="submit" class="standard-black-btn" [disabled]="!newsletter.invalid">Join</button>
                    </form>
                </div>
            </div>

        </div>

    </section>

</section>
