.parent-content-section {
    display: flex;
    flex-direction: column;
    height: auto;
}

.content-section {
    display: flex;
    flex-direction: column;
}

#hero-section {
    position: relative;
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 10px;    
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    width: 100vw;
}

.main-hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.small-hero-header, .hero-header {
    color: #FFFFFF;
}

.small-hero-header {
    font-size: 14px;
    font-weight: 500;
}

.small-hero-para {
    font-size: 12px;
    margin-top: 5px;
    color: #FFFFFF;
    font-weight: 400;
}

.hero-header {
    font-size: 22px;
    font-weight: 600;
}

.btn-div {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 16px;
}

.section-container {
    max-width: 900px;
    width: 100%;
}

.image-progress-bar-parent {
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    bottom: 16px;
}

.progress-bar {
    height: 4px;
    width: 65px;
    background-color: rgba(166, 166, 166, 0.505);
    border: 0 solid transparent;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
  }
  
  .progress-fill {
    position: absolute;
    height: 100%;
    width: 0%;
    background-color: white;
    transition: width 5s linear;
  }

/*  HEADER STYLES */


header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    padding: 14px;
    width: 100vw;
    position: sticky;
    top: 0;
    z-index: 100;
}

.brand-logo {
    height: 25px;
}

.head-container {
    display: flex;
    max-width: 900px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.left-header-side {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.nav-link-container {
    display: flex;
}

.nav-link-container nav ul {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.link-icons {
    display: flex;
    gap: 25px;
    align-items: center;
}

.link-icon {
    width: 25px;
}

#menu_icon {
    display: none;
}

#cart_icon { 
    display: none;
}

#user_icon {
    display: none;
}

.nav-link {
    color: #b4b4b4;
    transition-duration: 0.3s;
}

.nav-link:hover,
.nav-link:active {
    color: #FFFFFF;
}

/* MENU BAR STYLES */

.menu-bar {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}

.menu-bar .bar {
    background-color: #ffffff;
    height: 3px;
    width: 30px;
    border: 0 solid transparent;
    border-radius: 100px;
    transition-duration: 0.3s;
    cursor: pointer;
}

.menu-bar .bar:nth-child(2) {
    width: 16px;
}

.menu-bar .bar:nth-child(3) {
    width: 23px;
}

/* MENU BAR STYLES */


/* HEADER STYLES */

/* RECOMMENDED SECTION */

#most-liked-pieces-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
}

#most-liked-pieces-section .section-container {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.section-header-div {
    display: flex;
    align-items: center;
}

.header-span {
    font-size: 16px;
    font-weight: 600;
}

.product-list-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.product {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: calc(25% - 1rem);
    cursor: pointer;
}

.product-image-container {
    width: 100%;
    height: 250px;
    background-color: #000000;
    overflow: hidden; /* This is the key */
    position: relative;
}

.product-details-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
}

#brand-name {
    font-size: 10px;
    font-weight: 600;
}

.product-name {
    font-size: 14px;
    font-weight: 400;
}

.product-price {
    font-size: 12px;
    font-weight: 600;
}

.product-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Makes sure the image fills the space nicely */
    transition: transform 0.3s ease;
}

.product-image:hover {
    transform: scale(1.1);
}

/* RECOMMENDED SECTION */

/* FEATURED PRODUCTS */

#featured-products-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
}

#featured-products-section .feature-container {
    max-width: 900px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.feature-list-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
}

#featured-products-section .feature-details-container .feature {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.feature {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 280px;
    width: 100%;
    max-width: 350px;
    height: 100%;
    cursor: pointer;
}

.feature-details-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
}

.feature-image-container {
    width: 100%;
    height: 330px;
    background-color: #000000;
    overflow: hidden; /* This is the key */
    position: relative;
}

#feature-name {
    font-size: 16px;
    font-weight: 600;
}

.feature-description {
    font-size: 12px;
    font-weight: 400;
    color: #3f3f3f;
}

.feature-link {
    font-size: 12px;
    font-weight: 600;
    color: #000000;
    margin-top: 5px;
}

/* FEATURED PRODUCTS */

/* COLLABORATION SECTION */

#collaboration-section {
    background-image: url(/products/page-2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 10px;    
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    width: 100vw;
}

.content-para {
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 300;
}

/* COLLABORATION SECTION */

/* HEAVY WEIGHT COLLECTION */

#heavy-weight-collection-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
}

#heavy-weight-collection-section .section-container {
    max-width: 900px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.section-header-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.redirect-link {
    color: #000000;
    font-weight: 500;
    font-size: 12px;
}

/* HEAVY WEIGHT COLLECTION */

/* CALL TO ACTION SECTION */

#cta-section {
    display: flex;
    margin-top: 20px;
    align-items: center;
    min-height: 50vh;
}

#cta-section .section-container {
    display: grid;
    width: 100%;
    max-width: 900px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: 
    "a b";
    gap: 10px
}

.image-side {
    background-image: url(/products/CTA-IMAGE.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
}

.content-side {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px
}

.content-side .content-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;
}

.content-small-header, .content-main-header, .inner-content-para {
    color: #000000;
}

.content-small-header {
    font-size: 12px;
    font-weight: 400;
}

.content-main-header {
    font-size: 25px;
    font-weight: 600;
}

.inner-content-para {
    font-size: 12px;
    font-weight: 400;
}

.mail-inp {
    border: 0 solid transparent;
    border-bottom: 2px solid #000000;
    padding: 5px 8px;
    height: 55px;
}

.mail-inp:active,
.mail-inp:focus {
    outline: 0 solid transparent;
}

.mail-form {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    grid-template-areas:  
    "a b";
    gap: 10px;
}

#cta-section .standard-black-btn {
    background-color: #000000;
    color: #FFFFFF;
    height: 100%;
}

.standard-black-btn:disabled {
    background-color: #737373;
}

/* CALL TO ACTION SECTION */


@media (max-width: 900px) {

    .head-container {
        display: flex;
        max-width: 900px;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 0 0.5rem;
    }

    .nav-link-container nav {
        display: none;
    } 

    .nav-link-container .menu-bar {
        display: flex;
    }

    /* RECOMMENDED SECTION */

    #hero-section {
        background-color: rgb(0, 0, 0);
        padding: 10px;    
        justify-content: center;
        align-items: center;
        min-height: 70vh;
        width: 100vw;
    }

    /* RECOMMENDED SECTION */

    .product-list-container {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        overflow-x: auto; /* Enable horizontal scrolling */
        white-space: nowrap; /* Prevent items from wrapping */
        scrollbar-width: thin;
        /* Hide scrollbar */
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* IE & Edge */
        padding-left: 10px;
        padding-right: 10px;
    }

    .product {
        width: 100%;
    }
    
    #cta-section .section-container {
        display: flex;
        flex-direction: column;
    }

    .image-side {
        background-color: #000000;
        height: 400px;
        width: 100%;
    }
    
    .content-side {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 400px
    }

    .feature-list-container {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: 10px;
        overflow-x: auto; /* Enable horizontal scrolling */
        scrollbar-width: thin;
        /* Hide scrollbar */
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* IE & Edge */
        padding-left: 10px;
        padding-right: 10px;
    }

    #collaboration-section .main-hero-content .small-hero-header {
        font-size: 12px;
        font-weight: 400;
    }
    
    #collaboration-section .main-hero-content .hero-header {
        font-size: 16px;
        font-weight: 700;
    }

    #collaboration-section .main-hero-content .content-para {
        font-size: 10px;
        font-weight: 400;
    }

    .nav-link {
        font-size: 14px;
        font-weight: 400;
        color: #737373;
    }

    .image-side {
        height: 300px;
    }

    .content-side {
        height: 300px
    }

    .section-header-div {
        padding-left: 10px;
        padding-right: 10px;
    }
}
