<section id="main-app-section">
    <div id="filter-div">

    </div>

    <app-app-header></app-app-header>

    <div class="main-app-container">

        <div class="product-image-container">

            <div class="main-image-display-block"></div>

            <div class="mini-image-block-parent">
                <div class="mini-image-block"></div>
                <div class="mini-image-block"></div>
                <div class="mini-image-block"></div>
                <div class="mini-image-block"></div>
                <div class="mini-image-block"></div>
            </div>

        </div>

        <div class="product-description-container">

            <div class="important-product-details">

                <div class="prod-identity">
                    <span class="brand-name">Heavy Weight</span>
                    <span class="item-name">Ombre Open Collar Flannel Shirt Red</span>
                </div>
    
                <span class="price">R540.98</span>
    
                <div class="size-container">
                    <span class="size-title">Size: </span>
                    <div class="size-parent">
                        <div class="size" id="S">S</div>
                        <div class="size" id="M">M</div>
                        <div class="size" id="L">L</div>
                        <div class="size" id="XL">XL</div>
                    </div>
                </div>
    
                <button type="button" class="add-to-cart-button">ADD TO CART</button>

            </div>

            <div class="additional-product-details">

                <div class="prod-det-block">

                    <div class="pdb-title-container">

                        <span class="pdb-title">DESCRIPTION</span>

                        <div class="icon-div">
                            <img src="/add_icon.svg" alt="add_icon" id="show-description" class="desc_icon">
                            <img src="/remove_icon.svg" alt="remove_icon" id="hide-description" class="desc_icon">
                        </div>                        

                    </div>

                    <p class="pdb-info" id="description-info">
                        Built for everyday reliability, the Index Jacket offers all-season protection in a clean, 
                        functional design. Its GORE-TEX PRO construction keeps you dry and comfortable in 
                        unpredictable weather, while thoughtful details—like a soft-lined collar, articulated 
                        sleeves, and underarm gussets—ensure ease of movement throughout the day. Streamlined, 
                        weather-sealed storage keeps essentials secure without bulk. Designed for versatility, 
                        built to last.
                    </p>

                </div>

                <div class="prod-det-block">

                    <div class="pdb-title-container">

                        <span class="pdb-title">DETAILS</span>

                        <div class="icon-div">
                            <img src="/add_icon.svg" alt="add_icon" id="show-details" class="desc_icon">
                            <img src="/remove_icon.svg" alt="remove_icon" id="hide-details" class="desc_icon">
                        </div> 

                    </div>

                    <p class="pdb-info" id="details-info">
                        • HVN-JK0144
                        • 100% Nylon - 3L GORE-TEX PRO 40D
                        • Highly wear resistant and durable ripstop face
                        • Waterproof, windproof and breathable
                        • bluesign® Approved
                        • OEKO-TEX® Certified
                        • Fully taped seams
                        • YKK Vislon Aquaguard® dual zip closure
                        • YKK Reverse Coil Aquaguard® pocket zips
                        • Laser cut and laminated hand pocket zippers
                        • Custom branded matte finish pullers
                        • Concealed flap hip pockets
                        • Zip closure hand pockets
                        • Internal zip chest pocket
                        • Custom branded YKK Michel snaps at cuffs
                        • Microfleece lined collar
                        • Under-arm gussets and articulated sleeves
                        • Made in Japan
                    </p>

                </div>
                
                <div class="prod-det-block">

                    <div class="pdb-title-container">
                        <span class="pdb-title">RETURN POLICY</span>

                        <div class="icon-div">
                            <img src="/add_icon.svg" alt="add_icon" id="show-ret-pol" class="desc_icon">
                            <img src="/remove_icon.svg" alt="remove_icon" id="hide-ret-pol" class="desc_icon">
                        </div> 
                    </div>

                    <p class="pdb-info" id="return-policy">
                        HEAVY WEIGHT will gladly accept any non-“Release Product” items for exchange or store credit within 
                        7 days of receipt (or within 7 days of being contacted for an In-Store Pickup). We do not offer 
                        refunds. Items being returned must be in unworn condition with attached tags and packaging. 
                        HEAVY WEIGHT will not accept any returned merchandise without prior written communication and a valid 
                        Return Authorization.

                        We do not provide price adjustment and cannot apply promotions retroactively.

                        All items marked as “Release Product” are final sale and cannot be canceled returned or exchanged. 
                        HEAVY WEIGHT does not assume any responsibility for lost or damaged returned goods while in transit from the 
                        customer. Therefore, we strongly recommend that customers use an appropriate carrier with a tracking 
                        system.
                    </p>

                </div>

                <div class="prod-det-block">

                    <div class="pdb-title-container">
                        <span class="pdb-title">WORN WITH</span>

                        <div class="icon-div">
                            <img src="/add_icon.svg" alt="add_icon" id="show-ww" class="desc_icon">
                            <img src="/remove_icon.svg" alt="remove_icon" id="hide-ww" class="desc_icon">
                        </div> 
                    </div>

                    <div class="min-prod-plot" id="worn-with">

                        <div class="product">
                            <div class="prod-img-div"></div>
            
                            <div class="prduct-details">
                                <span class="brand-name">HEAVY WEIGHT</span>
                                <span class="product-name">Horizon Bucket Hat - GORE-TEX 3L Nylon Black</span>
                                <span class="product-price">R230.89</span>
                            </div>
            
                        </div>

                        <div class="product">
                            <div class="prod-img-div"></div>
            
                            <div class="prduct-details">
                                <span class="brand-name">HEAVY WEIGHT</span>
                                <span class="product-name">Horizon Bucket Hat - GORE-TEX 3L Nylon Black</span>
                                <span class="product-price">R230.89</span>
                            </div>
            
                        </div>

                        <div class="product">
                            <div class="prod-img-div"></div>
            
                            <div class="prduct-details">
                                <span class="brand-name">HEAVY WEIGHT</span>
                                <span class="product-name">Horizon Bucket Hat - GORE-TEX 3L Nylon Black</span>
                                <span class="product-price">R230.89</span>
                            </div>
            
                        </div>

                    </div>

                </div>
            </div>

        </div>

    </div>

</section>