<section id="main-app-section">
    <div id="filter-div">

    </div>

    <app-app-header></app-app-header>

    <div class="main-app-container">

        <div class="product-image-container"></div>

        <div class="product-description-container">

            <div class="important-product-details">

                <div class="prod-identity">
                    <span class="brand-name">Heavy Weight</span>
                    <span class="item-name">Ombre Open Collar Flannel Shirt Red</span>
                </div>
                
    
                <span class="price">R540.98</span>
    
                <div class="size-container">
                    <span class="size-title">Size: </span>
                    <div class="size-parent">
                        <div class="size" id="S">S</div>
                        <div class="size" id="M">M</div>
                        <div class="size" id="L">L</div>
                        <div class="size" id="XL">XL</div>
                    </div>
                </div>
    
                <button type="button" class="add-to-cart-button">ADD TO CART</button>

            </div>

        </div>

    </div>

</section>