<header>
    <div class="head-container">

        <div class="left-header-side">

            <div class="brand-logo-container">
                <img src="../heavy_weight_logo.png" alt="search_icon" class="brand-logo">
            </div>

        </div>      

        <div class="nav-link-container">
    
            <nav>
                <ul>
                    <li>
                        <a routerLink="/" class="nav-link">New Arrivals</a>
                    </li>
                    <li>
                        <a routerLink="/" class="nav-link">Popular Pieces</a>
                    </li>
                    <li>
                        <a routerLink="/" class="nav-link">Shop</a>
                    </li>
                    <li>
                        <a routerLink="/" class="nav-link">Collaborations</a>
                    </li>                
                    <li>
                        <a routerLink="/" class="nav-link">Sale</a>
                    </li>
                </ul>
            </nav>

            <div class="menu-bar" id="menu-bar">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>

        </div>

    </div>
</header>