header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    padding: 14px;
    width: 100vw
}

.brand-logo {
    height: 25px;
}

.head-container {
    display: flex;
    max-width: 900px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.left-header-side {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.nav-link-container {
    display: flex;
}

.nav-link-container nav ul {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.link-icons {
    display: flex;
    gap: 25px;
    align-items: center;
}

.link-icon {
    width: 25px;
    opacity: 70%;
    cursor: pointer;
    transition-duration: 0.3s;
}

.link-icon:hover,
.link-icon:active {
    opacity: 100%;
} 

#menu_icon {
    display: none;
}

#cart_icon { 
    display: none;
}

#user_icon {
    display: none;
}

.nav-link {
    color: #b4b4b4;
    transition-duration: 0.3s;
}

.nav-link:hover,
.nav-link:active {
    color: #FFFFFF;
}

/* MENU BAR STYLES */

.menu-bar {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}

.menu-bar .bar {
    background-color: #FFFFFF;
    height: 3px;
    width: 30px;
    border: 0 solid transparent;
    border-radius: 100px;
}

.menu-bar .bar:nth-child(2) {
    width: 20px;
}

.menu-bar .bar:nth-child(3) {
    width: 10px;
}

/* MENU BAR STYLES */


@media (max-width: 700px) {
    .head-container {
        display: flex;
        max-width: 900px;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 0 0.5rem;
    }

    .nav-link-container nav {
        display: none;
    } 

    .nav-link-container .menu-bar {
        display: flex;
    }
}
