<section id="main-app-section">

    <app-app-header></app-app-header>

    <app-main-floating-menu></app-main-floating-menu>

    <div class="main-app-container">

        <div class="full-width-image-div"></div>

        <div class="center-content-div">
            <span class="about-sect-cont-header">
                About
            </span>
            <p class="about-sect-cont-para"> 
                Heavy Weight is more than a fashion label, it's a movement in self-expression, 
                identity, and culture. We fuse global trends with authentic streetwear to create 
                pieces that reflect boldness, comfort and originality in every thread.
            </p>
        </div>

        <div class="cont-right-div">

            <div class="cont-image-div"></div>

            <div class="cont-div">
                <span class="about-sect-cont-header">
                    Brand
                </span>
                <p class="about-sect-cont-para"> 
                    Our brand stands for individuality, confidence, and creative freedom. 
                    We design for those who lead, not follow, people who live unapologetically 
                    and embrace their personal style. Heavy Weight blends timeless silhouuettes 
                    woth modern energy to define the future of fashion.
                </p>
            </div>

        </div>

        <div class="cont-left-div">

            <div class="cont-div">
                <span class="about-sect-cont-header">
                    Equipment for living
                </span>
                <p class="about-sect-cont-para"> 
                    Our brand stands for individuality, confidence, and creative freedom. 
                    We design for those who lead, not follow, people who live unapologetically 
                    and embrace their personal style. Heavy Weight blends timeless silhouuettes 
                    woth modern energy to define the future of fashion. 
                </p>
            </div>

            <div class="cont-image-div"></div>

        </div>

        <div class="full-width-image-div"></div>

        <div class="center-content-div">
            <span class="about-sect-cont-header">
                Quality assurance
            </span>
            <p class="about-sect-cont-para"> 
                Heavy Weight is more than a fashion label, it's a movement in self-expression, 
                identity, and culture. We fuse global trends with authentic streetwear to create 
                pieces that reflect boldness, comfort and originality in every thread.
            </p>
        </div>

        <div class="cont-right-div">

            <div class="cont-image-div"></div>

            <div class="cont-div">
                <span class="about-sect-cont-header">
                    Our process
                </span>
                <p class="about-sect-cont-para"> 
                    Our brand stands for individuality, confidence, and creative freedom. 
                    We design for those who lead, not follow, people who live unapologetically 
                    and embrace their personal style. Heavy Weight blends timeless silhouuettes 
                    woth modern energy to define the future of fashion.
                </p>
            </div>

        </div>

        <div class="cont-left-div">

            <div class="cont-div">
                <span class="about-sect-cont-header">
                    Our manufacturers
                </span>
                <p class="about-sect-cont-para"> 
                    Our brand stands for individuality, confidence, and creative freedom. 
                    We design for those who lead, not follow, people who live unapologetically 
                    and embrace their personal style. Heavy Weight blends timeless silhouuettes 
                    woth modern energy to define the future of fashion. 
                </p>
            </div>

            <div class="cont-image-div"></div>

        </div>

        <div class="cont-right-div">

            <div class="cont-image-div"></div>

            <div class="cont-div">
                <span class="about-sect-cont-header">
                    A better future through Sustainability
                </span>
                <p class="about-sect-cont-para"> 
                    Our brand stands for individuality, confidence, and creative freedom. 
                    We design for those who lead, not follow, people who live unapologetically 
                    and embrace their personal style. Heavy Weight blends timeless silhouuettes 
                    woth modern energy to define the future of fashion.
                </p>
            </div>

        </div>

        <div class="full-width-image-div"></div>

    </div>

</section>