<div class="floating-div" id="floating-div">
    <div class="fd-bar"></div>
    <div class="fd-bar">
        <a routerLink="/auth/user/new-arrival" class="floating-nav-link">New Arrivals</a>
    </div>
    <div class="fd-bar">
        <a routerLink="/auth/user/features" class="floating-nav-link">Features</a>
    </div>
    <div class="fd-bar">
        <a routerLink="/auth/user/shop" class="floating-nav-link">Shop</a>
    </div>
    <div class="fd-bar">
        <a routerLink="/auth/user/sale" class="floating-nav-link">Sale</a>
    </div>
    <div class="fd-bar">
        <a routerLink="/about" class="floating-nav-link">About</a>
    </div>
    <div class="fd-bar">Currency</div>
</div>