<section class="main-app-frame">

  <header id="main-header" class="news-header">
    <span>Heavy Weight Sale | Shop 38% OFF | Code: <b>HW100</b></span>
  </header>

  <app-header></app-header>

  <router-outlet></router-outlet>

    <footer>

        <div class="section-container">

            <div class="footer-top-half">
                <div class="brand-logo-container"></div>
                <div class="footer-redirect-links-container">
                    <nav>
                        <ul>
                            <li>
                                <a routerLink="/" class="nav-link">About</a>
                            </li>
                            <li>
                                <a routerLink="/" class="nav-link">Subscribe</a>
                            </li>
                            <li>
                                <a routerLink="/" class="nav-link">Delivery rates</a>
                            </li>
                            <li>
                                <a routerLink="/" class="nav-link">Policies</a>
                            </li>
                            <li>
                                <a routerLink="/" class="nav-link">Affiliate program</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="footer-divider"></div>

            <div class="footer-bottom-half">
                <span class="copyright-span">Copyright © 2025 Heavy Weight (Pty). All rights reserved</span>
            </div>

        </div>

    </footer>

</section>
