.main-app-frame {
    position: relative;
}

.news-header {
    background-color: #fd1d12;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.news-header-title {
    color: white;
    font-size: 12px;
}