<section id="main-app-section">

    <app-app-header></app-app-header>

    <app-main-floating-menu></app-main-floating-menu>

    <div class="main-app-container">

        <div class="head-content-div">
            <span class="section-header">
                FEATURES
            </span>
            <p class="content-para">
                Read up on our latest projects and collaborations.
            </p>
        </div>

        <div class="line-divider"></div>

        <div class="product-plot" id="product-plot">


            <div *ngFor="let feature of features" class="product">
                <div class="prod-img-div"></div>

                <div class="prduct-details">
                    <span class="brand-name">{{feature.brandName}}</span>
                    <span class="product-name">{{feature.productName}}</span>
                    <span class="product-price">R {{feature.productPrice}}</span>
                </div>

            </div>

        </div>

    </div>

</section>