* {
   padding: 0;
   margin: 0;
   box-sizing: border-box; 
}

a, li {
    text-decoration: none;
    list-style: none;
}

/* Hide the default arrow */
select {
    background: transparent; /* Make background transparent */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

/* Custom arrow (if needed) */
select::-ms-expand {
    display: none; /* For Internet Explorer */
}

body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

::-webkit-scrollbar {
    display: none;
}

:root {
    --pops: "Poppins", sans-serif;
    --nuns: "Nunito", sans-serif;
    --monts: "Montserrat", sans-serif;
    --prompt: "Prompt", sans-serif;
    --sans: "Nunito Sans", sans-serif;
    --dominant-color: #000000;
    --primary-blue: #0057FF;
}

body, html {
    height: 100%;
}

body {
    position: relative;    
    font-family: var(--pops);
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

/* BUTTON STYLES */

button {
    position: relative;
    cursor: pointer;
    border: 0 solid transparent;
    font-size: 14px;
    letter-spacing: 0;
    font-weight: 500;
    height: 50px;
    max-width: 350px;
    overflow: hidden;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
}

.white-button {
    background-color: #FFFFFF;
    color: #000000;
}

.black-button {
    background-color: #000000;
    color: #FFFFFF;
}

.disabled-button {
    background-color: var(--dominant-color);
    animation: none !important;
}

.tertiary-button {
    background-color: #EEEEEE;
    color: #A7A7A7;
}

button:disabled {
    background-color: var(--dominant-color);
}

/* BUTTON STYLES */