* {
   padding: 0;
   margin: 0;
   box-sizing: border-box; 
}

a, button {
    cursor: pointer;
}

a, li {
    text-decoration: none;
    list-style: none;
}

/* Hide the default arrow */
select {
    background: transparent; /* Make background transparent */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

/* Custom arrow (if needed) */
select::-ms-expand {
    display: none; /* For Internet Explorer */
}

body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

::-webkit-scrollbar {
    display: none;
}

:root {
    --pops: "Poppins", sans-serif;
    --nuns: "Nunito", sans-serif;
    --monts: "Montserrat", sans-serif;
    --prompt: "Prompt", sans-serif;
    --sans: "Nunito Sans", sans-serif;
    --dominant-color: #000000;
    --primary-blue: #0057FF;
}

body, html {
    height: 100%;
}

body {
    position: relative;    
    font-family: var(--pops);
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.nav-link {
    font-size: 12px;
    font-weight: 400;
    color: #F7F7F7;
}

/* SPLASHSCREEN STYLES */

#splashscreen {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 100%;
    z-index: 99;
}

.splash-brand-logo {
    width: 160px;
}

/* SPLASHSCREEN STYLES */

/* BUTTON STYLES */

button {
    position: relative;
    cursor: pointer;
    border: 0 solid transparent;
    font-size: 14px;
    letter-spacing: 0;
    font-weight: 500;
    height: 55px;
    max-width: 350px;
    overflow: hidden;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
}

.white-button {
    background-color: #FFFFFF;
    color: #000000;
    font-size: 12px;
    height: 45px;
}

.standard-black-btn {
    background-color: transparent;
    border: 2px solid #FFFFFF;
    border-radius: 0;
    color: #FFFFFF;
    height: 45px;
    font-size: 12px;
}

button:disabled {
    background-color: #737373;
    animation: none !important;
}

.tertiary-button {
    background-color: #EEEEEE;
    color: #A7A7A7;
}

button:disabled {
    background-color: var(--dominant-color);
}

/* BUTTON STYLES */

/* FORM STYLES || SECURITY PAGE */

.form {
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

.form-header {
    font-size: 20px;
    font-weight: 600;
    color: #000000;
}

#main-security-frame {
    display: flex;
    background-color: #ffffff;
    width: 100vw;
}

#main-security-frame .container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
    max-width: 900px;
    padding: 0 1.5rem;
    gap: 1.5rem;
}

input {
    background-color: #FFFFFF;
    border: 1px solid #EEEEEE;
    height: 60px;
    padding: 0 13px;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}

input:active,
input:focus {
    outline: 2px solid #000000;
}

.form-redirect-link {
    color: #8e8e8e;
    font-size: 12px;
    width: 100%;
    text-align: center;
    margin-top: 16px;
    cursor: pointer;
}

/* FORM STYLES || SECURITY PAGE */


/* FOOTER */

footer {
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    width: 100%;
}

footer .section-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.footer-top-half {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-divider {
    width: 100%;
    height: 1px;
    background-color: #737373;
}

.footer-redirect-links-container nav ul {
    display: flex;
    gap: 16px;
    align-items: center;
}

.copyright-span {
    font-size: 10px;
    font-weight: 400;
    color: #737373;
}

@media (max-width: 700px) {
    .form-header {
        font-size: 18px;
    }
    /* FOOTER */

    footer {
        padding: 30px 20px;
    }

    footer .section-container {
        gap: 10px;
    }

    .footer-top-half {
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    .footer-redirect-links-container nav ul {
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: start;
    }

    .copyright-span {
        font-size: 8px;
    }

    /* FOOTER */
}